<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Codecool Shop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/wave.css" />

    <script src="/static/js/sorting.js" defer></script>
    <script src="/static/js/addtocart.js" defer></script>
    <script src="/static/js/viewcart.js" defer></script>


</head>

<body>

<div class="jumbotron text-center">
    <h1>Codecool Shop</h1>
</div>

<div class="container">

    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Suppliers
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li th:each="sup : ${suppliers}"><a href="#" th:attr="data-id=${sup.getId()}" th:data-name="${sup.getName()}" class="supplier-select" th:text="${sup.name}">Supplier</a></li>        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Categories
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li th:each="cat : ${categories}"><a href="#" th:attr="data-id=${cat.getId()}" th:data-name="${cat.getName()}" class="category-select" th:text="${cat.name}">Category</a></li>        </ul>
    </div>

    <div class="search">
        <label>
            <input type="text" placeholder="Search..">
        </label>
    </div>

</div>

<div class="container">
    <div class="category-title">
        <strong id="sort-title">All products</strong>
    </div>

    <div id="products" class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod,iterStat : ${products}">
            <div class="card">
                <img class="" src="https://placehold.it/400x250/000/fff" th:attr="src='static/img/product_' + ${prod.id} + '.jpg'" alt="" />
                <div class="card-header">
                    <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                    <p class="card-text" th:text="${prod.description}">Product description... </p>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                    </div>
                    <div class="card-text">
                        <a class="btn btn-success cartbutton" th:data-id="${prod.getId()}" href="#">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" id="viewcartbutton">Large modal</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container main-section">
                <div class="row">
                    <div class="col-lg-12 pb-2">
                        <h4>Shoping Cart</h4>
                    </div>
                    <div class="col-lg-12 pl-3 pt-3">
                        <table class="table table-hover border bg-white">
                            <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th style="width:10%;">Quantity</th>
                                <th>Subtotal</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody id="cartitemsplace">
                            <tr>
                                <td>cart empty
                                </td>
                            </tr>

                            </tbody>
                            <tfoot>
                            <tr>
                                <td><a href="#" class="btn btn-info text-white"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                                <td colspan="2" class="hidden-xs"></td>
                                <td class="hidden-xs text-center" style="width:10%;"><strong id="totalprice">Total : 47,000</strong></td>
                                <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="footer.html :: copy"></div>

</body>
</html>